<section id="home">

  <h3>html set partials</h3>
  <p>
    Snnipet em Vanilla JavaScript que permite a utilização de templateg tags para injetar trechos de html que estejam em arquivos separados.
  </p>

  <p>
    Vantagens
  </p>
  <p>Não necessida de instalação, basta baixar</p>
  <p>
    Gerencie trechos de html em arquivos separados 
  </p>

  <p>
    Excelente para utilização com frameworks CSS.
  </p>
  <pre>
    {% include './header.html' %}
  </pre>
</section>

<section id="implementation">
  <h3>Implementação</h3>
  <p>


    <a class="btn btn-download" href="https://raw.githubusercontent.com/cesardmn/bin_to_dec/master/main.js" download="main.js">Download Text</a>


  </p>

</section>